{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'login.js' %}" defer></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
{% endblock scripts %}

{% block content %}

<div class="video-container border-5 rounded-2 border border-danger ">
  <video autoplay width="100%" id="video-element"></video>
</div>
<canvas class="visually-hidden" id="img-element">

</canvas>


  <button class="btn my-4 btn-danger " id="capture-btn">Login with Face</button>

<div>
  <h4 class="text-white text-center" >OR</h4>

  <span id="csrf">
    {% csrf_token %}
  </span>
  <form action="" method="post" class="d-flex flex-column">
    <h2 class="text-center">Login using Credentials</h2>
    {% csrf_token %}
    <label class="mt-4" for="username"><b>Username</b></label>
    <input type="text" class="my-1 form-control"  placeholder="Enter Username" name="username" required />
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" class="form-control" name="password" required />
    <button class="btn btn-warning mt-4" type="submit"> Login</button>
  </form>
  <div class="text-center">
    <h5 class="my-3">OR</h5>
    <a href="{% url "signup" %}" class="btn btn-primary " id="reload">SignUp </a>
  </div>
</div>


{% endblock content %}